.ReleaseInsert {
    display: flex;
    background: #f8f9fa;
    padding: 1rem;
}
.ReleaseInsert input {
    flex: 1;
    font-size: 1.125rem;
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    outline: none;
}
.ReleaseInsert button {
    background: #868e96;
    color: white;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.125rem;
    margin-left: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}