.progress-circle-container {
    position: relative;
    text-align: center;
}

.progress-circle-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-weight: bold;
}